 
/**
 * This file modifies Drupal specific CSS for certain elements: taxonomy,
 * comments, breadcrumb, informational tables, etc.
 */

/* Taxonomy text */
.terms {float: right;}

/* Taxonomy and comment links */
.terms a, .comment_comments a {color: #990000;}

/* Visted Taxonomy links styled differently */
.terms a:visited {color: #fff;}
.links a {text-decoration:none;}

.links {
    font-size: .875em;
    font-style: italic;
}

/* Appears under the node title */ 
.submitted {
    color: #4a4a4a;
    font-size: .8em;
    font-style: italic;
    margin: -3px 0 0 0;
}

.breadcrumb {
    color: #4a4a4a;  /* For the seperator */
    font-size: .8em;
    margin: 0 0 -10px 0;  /* Lowering into the padding of main */
    padding: 15px 0 0 0; /* Adding space to elements above */
}

/* Breadcrum link */
.breadcrumb a {color: #990000;}

.box h4 {
    color:#a3a3a3;
}

/*** Comments ***/

/* New comment posting style */
.new {
    color:#ffff00;
    font-weight: bold;
    font-variant: small-caps;
}

.links .comment_add {
    display:block;
    font-style:normal;
    font-weight:bold;
    margin:.5em 0 0;
    padding:.5em 0;
}

.comment p {
    margin:0.25em 0;
    padding:0.25em 0;
}

.comment-add {
    margin:.25em 0;
    padding:.5em 0;
}

.indented {
    border:1px dotted #fff;
    padding:5px 10px;
}

/* Any ul that appears in a block */
.block ul {
    margin: 0;
    padding: 0 0 0.25em 1em;
}

.logged-in #outer-wrapper #main .messages a,
.logged-in #outer-wrapper #main .help a {
    color:#000;
}

table.sticky-header {color:#000;}

/* Appears during page updates and succesful completion of tasks, like cron */ 
.status {
    background-color:#33CC33;
    border:2px solid #006600;
    font-size:.95em;
    font-weight:bold;
    margin:.25em 0;
    padding:0.25em 0.75em;
    text-align:center;
}

/* Drupal informational messages */
.help {
    background-color:#33CC33;
    border:2px solid #006600;
    font-size:.95em;
    margin:.25em 0;
    padding:0.25em 0.75em;
}

/* Informational tables, like the ones that appear on the /admin/build/block page */
tr.even, tr.odd {color:#000;}

/* Adds padding around information tables like on /filter/tips */
.description {padding:.2em .5em;} 

.page-admin table, .logged-in table {
    border-collapse:collapse; /* Give uniform look to admin pages or other module pages with tables */
}

/* If you are using admin menu increases the font */
#admin-menu li {font-size:1.1em;}

.item-list ul li {list-style-type:circle; /* Override Drupal disc defintion */}

/*  Shrink down labels, ex. with views with exposed filters */
.views-exposed-form label {
    font-size:.875em;
    font-weight:normal;
}

/* Make edit tab text visible always */
#edit-tabs ul.primary li a:visited, ul.primary li a:active {color:#000;}

/*** Custom Drupal CSS Definitions ***/

/* Overides default home page H2 link style */
.front #main #main-inner h2 a {
    color:#fff;
    text-decoration:none;
}

/* Override visted links on admin pages */
.logged-in #main a:visited {color:#FF0000;}
	
#edit-tabs {margin:1em 0;}
.item-list ul li {margin:0 0 0.5em 1.5em;}
  
.node-unpublished, .comment-unpublished {
    border:1px dashed #f00;
    color:#000;
    padding:.5em 1em;
}

/* Views editing */
#views-ajax-form {color:#000;}
#main-inner .views-admin-links li a {color:#fff;}

/* Views edit links */
div.view div.views-admin-links {
  width: auto;
}

.page-admin #main {
    margin:0;
    padding:0;
}

/* Ensures black links on admin tables */
.page-admin #main td a, .page-admin #main td a:visited {
    color:#000;
}

.admin-panel h3 {
    border-bottom:2px solid #fff;
    font-family:arial, sans-serif;
    padding-bottom:2px;
    margin:5px;
}

.admin-panel .body p {color:#999;}

.block-region {
    background-color:#ff8cff;
    border:1px dashed #b8007e;
    color:#b8007e;
}

/* Add spacing on Drupal admin tables */ 
.page-admin tr.even td a, .page-admin tr.odd td a {font-size:.9em;}
.tableHeader-processed tr td {padding:.2em .35em;}

/* Removes spacing on theme page */
.page-admin #system-themes-form tr.odd td a, .page-admin #system-themes-form tr.even td a {
    padding:0;
}