 
/**
 * This is for targeting Internet Explorer with all your IE hacks
 */

html {overflow-x:hidden;} /* Resolves issues with horizontal scroll bar */
body {_text-align: center; /*Centers the page for IE5.5*/}

#outer-wrapper {_text-align: left; /*Left aligns text due to centering, IE5.5*/}
#main-inner {_margin:-3px 0 0 0; /*Corrects issue with tabs in IE5.5 and IE6*/}

.front ul.primary-links{_background-color:transparent;}