
/**
 * ishalist, created for Drupal 6.x
 * Ishmael Sanchez, ishmaelsanchez.com 
 */

/* Main page wrapper */
#outer-wrapper {
  margin:0 auto;
  width:765px; /* Fixed Width of Pages */
  font-size: 0.875em; /* Usual font size for web browsers is 16px. 16px x .875 = 14px Font size */
  line-height: 1.35em; /* 14px x 1.35 = 19px  line height of 19px */
}

/* Site name appear across the entire site */
#header h1, #site-name{
  display:inline;
  letter-spacing:-0.05em;
  margin:0;
  padding:0;
  word-spacing:0.15em;
}
  
/* Overrides default links style */
#header a {
  color:#000;
  text-decoration:none;
}

#header img {
  border:none;
	margin:1px 0 -5px 0;
}

#site-name {
	font-family:Times,"Times New Roman","Bitstream Vera Serif",serif;
	font-size:2.4em;
	font-variant:small-caps;
	font-weight:bold;
}

.page-title {
	font-family:Georgia,"Bitstream Vera Serif",Times,serif;
	font-size:1.5em;
	letter-spacing:0.15em;
	margin:0.25em 0;
	padding:0.25em 0;
	text-transform:uppercase;
}

#main-nav {}

#main {border-top:1px solid #d5d5d5;}
  
#main-inner {
	background:url(images/main-bkgr.png) #000 no-repeat bottom center;
	color:#fff;
	line-height:1.5em;
	padding:.5em 1.5em 1em;
}
  
/*** Boxes ***/
#primary-box {
  float:left;
  width:250px;
}
  
#secondary-box {
  float:left;
  width:250px;
}
  
#tertiary-box {
  float:right;
  width:250px;
}
  
#primary-box h3, #secondary-box h3, #tertiary-box h3 {
  border-bottom: 1px solid #ccc;
	display:inline-block;
  margin:0;
	padding:1em 0 .3em;
	width:10.5em;
}

/* Set links in the boxes section */
#primary-box a, #secondary-box a, #tertiary-box a {
  color:#820000;
}

/* Removes table border for boxes section */
#primary-box table, #secondary-box table, #tertiary-box table {border-collapse:separate;}

/* Add border around image in boxes */
#primary-box img, #secondary-box img, #tertiary-box img {border:1px solid #000;}

#secondary-box h3 {width:11.2em; /* Corrects issue with header border */}
#tertiary-box h3 {width:11.95em; /* Corrects issue with header border */}
#primary-box .block, #secondary-box .block, #tertiary-box .block {padding:0 0 .5em;}

/* Give different style to text in the boxes */
#primary-box p, #secondary-box p, #tertiary-box p {
  color:#515151;
	font-size:.835em;
	margin:.3em 0;
	padding:.3em 0;
}

.block ul li {
  list-style-type:none;
  padding:.15em 0 0 0;
}
  
#primary-box .block ul, #secondary-box .block ul, #tertiary-box .block ul {padding:0}

/* Style information added at /admin/settings/site-information */
#footer-message {
  clear:both;
	color:#4a4a4a;
	font-size:.75em;
	padding:.1em 0;
}
 
/* Styles for footer if someone adds a block to the footer */
#footer {
  border-top:1px solid #d5d5d5;
	clear:both;
	color:#4a4a4a;
	font-size:.75em;
	margin:0.75em 0 0;
	padding:.1em 0;
}
  
/** Main site navigation **/
.front ul.primary-links {
  background-color:#ccc;
}

ul.primary-links li { 
  display: inline;
  background: none;
  list-style-type: none;
  padding: 2px;
	background-color:#ccc;
}

ul.primary-links li a:focus {
  outline: none;
}

ul.tabs.primary-links {
  padding:0 0 3px;
	margin:10px 0 1px;
  list-style: none;
  height:20px;
  background:transparent url(images/tab-bar.png) repeat-x left bottom;
}

ul.tabs.primary-links li {
  float: left;
  margin:0 5px;
  padding: 0 0 0 5px;
  background:transparent url(images/tab-left-ie6.png) no-repeat left -38px;
}

ul.tabs.primary-links li a {
  background: transparent url(images/tab-right-ie6.png) no-repeat right -38px;
  border-width: 0;
  display: block;
  margin: 0;
  padding:4px 15px 0px 12px;
  text-decoration:none;
}

ul.tabs.primary-links li:hover a {
  border-width: 0;
  background:transparent url(images/tab-right-ie6.png) no-repeat right -76px;
}

tabs.primary-links li:hover {background:transparent url(images/tab-left-ie6.png) no-repeat left -76px;}

ul.tabs.primary-links li.active a, ul.tabs.primary-links li.active a:hover {
  text-decoration:none;
  border-width: 0;
  background:transparent url(images/tab-right-ie6.png) no-repeat right 0;
}

ul.tabs.primary-links li.active {background:transparent url(images/tab-left-ie6.png) no-repeat left 0;}
#main-nav ul.tabs.primary-links li a:link {color:#000;}

#main-nav ul.tabs.primary-links li a:visited {
	color:#000;
}
  
/* Secondary navigation system */  
.secondary-links {
  display:inline;
  font-size:.85em;
	line-height:2em;
	margin:0 25px 0 0;
	padding:0 0 0 15px;
}
  
ul.secondary-links li {display:inline;}

ul.secondary-links li a {
  border-right:1px solid #d5d5d5;
	margin:0;
	padding:0 10px;
} 
	
ul.secondary-links li.last a {border-right:none;}
#main a:visited {color:#fff;} /* Change links styles after page visits */
  
/* Skip to content for Screen Readers */
#skip {
  font-size: 0.7em; /* ignored but in case you want to make this visible */
	height:1px; /* If rendered will only be 1px high */
	left:-10000px; /* position out of sight */
	overflow:hidden; /* Any excess will not show */
	position:absolute; /* Removed from page flow */
	top:auto;
	width:1px; /* If rendered will only be 1px wide */
}

#skip a {
  color: #fff; /* background color of page */
	height:1px; /* If rendered will only be 1px high */
	overflow:hidden; /* Any excess will not show */
	position:absolute; /* Removed from page flow */
	left:-10000px; /* position out of sight */
	top:auto;
	width:1px; /* If rendered will only be 1px wide */
}

/* Used for link styles */
#skip a:focus {
  position:static;
  height:auto;
  width:auto;
}

/* Views grid layout */
td.col-1, td.col-2, td.col-3 {padding:0 3em 1em 0;}
	
.node {padding-bottom:.5em;}
.pager-current {color:#444}

ul.pager li a {
  color:#fff;
  text-decoration:underline;
}

.item-list ul.pager li a {margin:0 0 0 1em;}


