 
/**
 * This is file is for print media solely
 */

/*** Set up basic print standards ***/
body {
	background-color: #fff; /* Reduce the amount of ink used */
	color: #000;
	font-family: Times, "Times New Romans", serif;
	font-size: 12pt; /* Setting point size for printers */
	width: 95%;
}

#outer-wrapper {
	margin: 5pt;
	width: 90%; /* Shrink content */
}

#header a {text-decoration: none; /* Remove underline from header */}
  
/* Display Title and Logo on same line */
#header h1 {
	display:inline;
	padding:0 100pt 0 0;
}

/* Make header link color black */
#header h1 a {color: #000;}
  
/* Remove link border from image */
#header img {
	border: none;
	padding-top: 5pt;
}
  
/* Hide navigation and other elements */
.primary-links, .secondary-links, #search, .tabs, .links, .breadcrumb,
.taxonomy, .pager, .feed-icon, #primary-box, #secondary-box, #tertiary-box {
  visibility:hidden;
	display:none;
}
	
/* Links are styled sightly different */
a {
	color: #333;
	text-decoration: underline;
	font-size: 95%;
	font-style: italic;
}

/* CSS2 selector to add link references to after links in the main content area*/  
#main-inner a:link:after, #main-inner a:visited:after {
  content: " (" attr(href) ") "; 
}

.submitted {
	color: #ccc;
	font-size: 10pt;
}